{layout '../@layout.latte'}

{block title}Smazat značku{/block}

{block content}
    Opravdu si přejete smazat značku <span>{$trademark->getName()}</span>
    <br/>
    <br/>
    <form n:name=deleteForm class=form>
    	<div>
    		<input n:name=submit class="btn btn-default">
    	</div>
    </form>
    <br/>
    <a n:href="index, 1">Zpět</a>
{/block}
